{% extends "base.html" %}
{% set active_page = 'transactions' %}
{% block title %}Transactions{%endblock%}

{% block content %}
<table id="table_id" class="display text-center">
    <thead>
        <tr>
            <th>#</th>
            <th>bankAccount</th>
            <th>transType</th>
            <th>transAmount</th>
            <th>postscript</th>
            <th>customerAccount</th>
            <th>branch</th>
            <th>transferor/transferee</th>
            <th>transTime</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}

        {% for trans in transaction.trans %}
            <tr>
                <td>{{ transaction._id}}</td>
                <td>{{ transaction.bankAccount }}</td>
                <td>{{ trans.transType }}</td>
                <td>{{ trans.transAmount }}</td>
                <td>{{ trans.postscript }}</td>
                <td>{{ trans.customerAccount }}</td>
                <td>{{ trans.branch }}</td>
                <td>{{ trans.extensions.card }}</td>
                <td>{{ trans.transTime }}</td>

            </tr>
        {% endfor %}

            
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block scripts %}
<script>
    var table =  $('#table_id').DataTable();
</script>
{% endblock %}