{% extends "base.html" %}
{% block title %} Update {%endblock%}
{% set active_page = 'upgrade' %}
{% block content %}

<div class="d-flex justify-content-center bd-highlight mb-3">
    {% for items in data %}
        <div class="p-5 bd-highlight">
            <img src="{{ items.imageURL }}" class='rounded-square' height="100px" width="100px">
            <p class="text-center">{{ items.appName }}</p>
            <p><a href="https://www.somemt.com/api/software/upgrade?softwareNo=13&softwareVersion=5&group="class="btn btn-primary btn-block mt-1">Download</a></p>
        </div>
    {% endfor %}
</div>

{% endblock %}